// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
.foodFacts {
    background-color: red;
}

.barCode {
    background-color: green;
}

.searchContainer {
    display: flex;
}

.searchForm {
    width: 100%;
}

.searchBar {
    width: 100%;
    border-radius: 20px;
}

.cardContainer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barcodeScanner {
    display: none;
}

.customCard {
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    width: 300px;
    // background-color: #008080;
    border: 1px solid black;
    margin: 16px;
    padding: 0px;
    border-radius: 20px;

    h2 {
        font-size: 24px;
        margin: 0px;
    }

    .seeMoreBtn {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
    }

    .imgContainer {
        width: 100px;
        overflow: hidden;
        border-radius: 20px 0px 0px 20px;
        
        .productImg {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .productInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}