// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
.header {
    background-color: white;
    padding: 32px 64px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .title {
        color: #008080;
        text-align: center;
        font-size: 16px;
    }
}

#barcodeBtn {
    background-color: #EFEFEF;
    border: none;
}

.bg-gray {
    background-color: #EFEFEF;
}

.searchContainer {
    display: flex;
}

#search {
    background-color: #EFEFEF;
    border: none;
    width: 100%;
}

#search:focus {
        outline: none;
}

.searchForm {
    width: 100%;
}

.searchBar {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #EFEFEF;
    padding: 8px 16px;
}

.cardContainer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barcodeScanner {
    display: none;
}

.searchResultsContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.customCard {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    width: 300px;
    margin: 16px;
    padding: 0px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    h2 {
        font-size: 24px;
        margin: 0px;
    }

    .seeMoreBtn {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: #008080;
    }

    .seeMoreBtn:hover {
        background-color: #008080;
        color: white;
        transition: 0.2s;
    }

    .imgContainer {
        width: 100px;
        overflow: hidden;
        border-radius: 20px 0px 0px 20px;
        
        .productImg {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .productInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 770px){
    .searchResultsContainer {
        justify-content: space-between;
    }

}